
/*Primera Pantala:*/

body{
  background-image:url("../imagenes/fondounico.png");
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}


header{
  background-image: url("../imagenes/Header.png");
}


.header{
  font-weight : bold;
  opacity: inherit;
  font-size: 20px;
  color: #ccc;
  overflow: auto;
}
.titulo{
      text-align: center;
      font-weight : bold;
      font-size: 60px;
      color: white;
}

.input1{
    width: 400px;
    border: 50px;
    overflow: auto;
    text-align: center;
    margin-top: 0;
    margin-left: 640px;
    border-radius: 15px;
    padding: 10PX;
    font-size: 20PX;
}

.t1{
  text-align: center;
  font-weight : bold;
  font-size: 40px;
  color: white;
  margin-top:0;
  margin-bottom: 20px;
}

.t2{
    font-size: 25px;
    color: white;
    margin-top:0;
    margin-bottom: 0;
}


@media (max-width:768px) {
  form{
      width: 95%;
  }
}

@media (max-width:480px) {
  form{
    width: 95%;
  }
}
.footer{
  font-size: 20px;
  width: 95%;
  height: 40px;
  bottom: 0;
  position: fixed;
  text-align: right;
  color:#336699;
  text-shadow: white;
}

/*Segunda Pantala:*/
.titulo2{
      font-weight : bold;
      font-size: 60px;
      color: white;
      overflow: auto;
      margin-left: auto;
}

/*BOTONES:*/
/*Botón Inicio:*/

.botonInicio{
  background:linear-gradient(#191970,#7FC5F3);
  color: #fff;
  font-size: 25px;
  margin-top: 35px;
  border-radius: 15px;
  padding-top: 20;
  padding-bottom: 30;
  padding: 10PX;
  opacity: 0.8;
  cursor: pointer;
  margin-bottom:0;
  margin:0 auto;
  float:none;
	text-align: center;
  margin-left: 780px;
  margin-top: 30px;
}

button:hover {
  opacity: 1;
}

button:active {
  transform: scale(0.95);
}

/*Opciones Encriptar o Desencriptar: */
.botones{
  background:linear-gradient(#191970,#7FC5F3);
  color: #fff;
  font-size: 25px;
  margin-top: 35px;
  border-radius: 15px;
  padding-top: 20;
  padding-bottom: 30;
  padding: 10PX;
  opacity: 0.8;
  cursor: pointer;
  float:none;
}

.botonOpciones{
  margin-left: 100px;
  margin-bottom:10px;
}

/*Botones de Ejecución : Encriptar ó Desencriptar*/

.bEncriptar{
  margin-left: 50px;
  margin:0;
  margin-top: 40px;
}
.bDesencriptar{
  margin-left: 40px;
  margin:0;
  margin-top: 40px;
}

/*Botones de Ejecución :  Reset y Salir:*/
.bReset1{
  margin-left: 1130px;
}
.bSalir1{
  margin-left: 150px;
}

.bReset2{
  margin-left: 1130px;
}
.bSalir2{
  margin-left: 150px;
}

.bRegresar{
  margin-left: 750px;
  margin-top: 15px;
}


/**/
.Contenedores{
  display: flex;
}

.Cuadro{
  flex-direction: row;
  margin-left:80px;
}




/*Cuadros de texto:*/
.cuadroTexto{
  style="height: 300px;
  width: 400px;
  padding-bottom: 20px;
  border-radius: 15px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
  font-family: cursive;
  margin-top: 10px;
}

textarea:hover {
  opacity: 1;
}

textarea:active {
  transform: scale(0.95);
}

.input2{
    width: 250px;
    border: 50px;
    overflow: auto;
    text-align: center;
    margin-top: 30px;
    padding: 10PX;
    font-size: 20PX;
    border-radius: 15px;
    cursor: pointer;
    flex-direction: row;
}

.ocultar{
  display: none;
}

/*MENSAJES:*/
.mensajes{
  text-align: center;
  font-weight : bold;
  font-size: 80px;
  color: white;
  overflow: auto;
  margin-top: 300px;
  cursor: pointer;
}
.mensajeBloq{
  margin-top: 100px;
  }
.mensajeDesp{
  margin-top: 100px;
}

.numeroIntentos{
  text-align: center;
}

/*IMAGENES:*/
.imagenCentrada{
  margin-top: 0;
  margin-left: 730px;
  margin-bottom: 0;
}
.imagenCurso{
  margin-top: 50px;
  margin-left: 40px;
}
